########################################################
#            Atom Vue Snippet                         #
#            All js support                          #
#####################################################

'.source.js':

  "prototype ->vue":
    "prefix": "v-prototype"
    "body": """
     Vue.prototype.$appName = $1
    """
  "import ->vue":
    "prefix": "v-import"
    "body": """
     import X from '$1'
    """
  "use plugin ->vue":
    "prefix": "v-use"
    "body": """
     Vue.use($1)
    """
