########################################################
#            Atom Vue Snippet                         #
#                Export                              #
#####################################################

".text.html.vue":


  "blade ->vue":
    "prefix": "v-bs"
    "body": """
     {{ $1 }}
    """
  "new line ->vue":
    "prefix": "v-new"
    "body": """
     \t\n
    """
  "data()->vue":
    "prefix": "v-data"
    "body": """
     data () {
       return {
         msg: 'Atom_Vue$1'
       }
     }
    """
  "props->vue":
    "prefix": "v-props"
    "body": """
     props: {
       contextualStyle: {
         type: String,
         required: false
       }
     }
    """
  "components->vue":
    "prefix": "v-components"
    "body": """
     components: {
         VLayout,
         VCard,
       }
    """
  "methods->vue":
    "prefix": "v-methods"
    "body": """
     methods: {
       countUp$1: function () {
         $1
       }
     }
    """
  "computed->vue":
    "prefix": "v-computed"
    "body": """
     computed: {
       countUp$1: function () {
         $1
       }
     }
    """
  "watch->vue":
    "prefix": "v-watch"
    "body": """
     watch: {
       countUp$1: function () {
         $1
       }
     }
    """
  "filters->vue":
    "prefix": "v-filters"
    "body": """
     filters: {
       capitalize$1: function (value) {
         $1
       }
     }
    """
  "function->vue":
    "prefix": "v-function"
    "body": """
      meVue$1: function () {
        $1
      }
    """
  "name->vue":
    "prefix": "v-name"
    "body": """
      name: '$1',
    """
  "mixins->vue":
    "prefix": "v-mixins"
    "body": """
      mixins: [mixin]
    """
