########################################################
#            Atom Vue Snippet                         #
#                Simple                              #
#####################################################

".text.html.vue":
  "import ->vue":
    "prefix": "v-import"
    "body": """
     import x from 'x$1'
    """

  "func() ->vue":
    "prefix": "v-func"
    "body": """
     start$1 () {
      $1
    },
    """
  "slot ->vue":
    "prefix": "v-slot"
    "body": """
     <slot/>
    """
  "export ->vue":
    "prefix": "v-export"
    "body": """
     export default {
       $1
     }
    """
